<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="零部件-+${element.id}">添加零部件</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x722x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body data-type="index">
<div th:replace="header :: header"></div>
<div class="tpl-page-container tpl-page-header-fixed">
    <div th:replace="sidebar :: sidebar"></div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            零部件管理
        </div>
        <ol class="am-breadcrumb">
            <li><a href="/index/" class="am-icon-home">首页</a></li>
            <li><a href="/element/">零配件管理</a></li>
            <li class="am-active" th:text="${element.name}">新增</li>
        </ol>
        <!--是否更新，亦或新增-->
        <span class="am-hide" th:data="${isUpdate}" id="isUpdate"></span>
        <span class="am-hide" th:data="${element.id}" id="id"></span>
        <div class="tpl-portlet-components" style="padding-bottom:60px;">
            <div class="portlet-title">
                <div class="caption font-blue bold">
                    <span class="am-icon-code"></span> 表单
                </div>
            </div>
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <label for="element-name" class="am-u-sm-3 am-form-label">零配件名称 / Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="element-name" placeholder="输入零配件名称 / Name" th:value="${element.name}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="element-inPrice" class="am-u-sm-3 am-form-label">零配件进价 / InPrice</label>
                                <div class="am-u-sm-9">
                                    <input type="number" id="element-inPrice" placeholder="输入零配件进价 / InPrice" th:value="${element.inPrice}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="element-outPrice" class="am-u-sm-3 am-form-label">零配件售价 / OutPrice</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="element-outPrice" placeholder="零配件售价 / OutPrice" th:value="${element.outPrice}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="element-category" class="am-u-sm-3 am-form-label">零配件类别 / Category</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="element-category" placeholder="零配件类别 / Category" th:value="${element.category}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="element-brand" class="am-u-sm-3 am-form-label">零配件品牌 / Brand</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="element-brand" placeholder="零配件品牌 / Brand" th:value="${element.brand}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="element-createTime" class="am-u-sm-3 am-form-label">创建时间 / CreateTime</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="element-createTime" readonly="readonly" placeholder="创建时间 / CreateTime"  th:value="${#dates.format(element.createTime,'yyyy-MM-dd HH:mm:ss')}"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="element-description" class="am-u-sm-3 am-form-label">零配件描述 / Description</label>
                                <div class="am-u-sm-9">
                                    <textarea name="" id="element-description" placeholder="零配件描述 / Description" th:text="${element.description}" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="button" class="am-btn am-btn-primary" id="update">保存修改</button>
                                    <button type="button" class="am-btn am-btn-warning" id="back">返回上页</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">系统提示</div>
                    <div class="am-modal-bd">
                        <p>对不起，操作失败！</p><span class="am-icon-btn am-warning am-icon-warning"></span>
                    </div>
                </div>
            </div>
            <div class="am-modal am-modal-alert" tabindex="-1" id="my-warning">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">系统提示</div>
                    <div class="am-modal-bd">
                        <p>对不起，您填写的信息不完整！</p><span class="am-icon-btn am-warning am-icon-warning"></span>
                    </div>
                </div>
            </div>
            <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">操作成功</div>
                    <div class="am-modal-bd">
                        <span class="am-icon-spinner am-icon-spin"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>
<script th:src="@{/js/iscroll.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script type="text/javascript">
    $(function () {
        var $isUpdate = $("#isUpdate").attr('data');
        var $id = $("#id").attr('data');
        var $info = $("#info");
        var $elementInfo = $("#info-element");

        var $modalWarning = $('#my-warning');
        var $modalError = $('#my-alert');
        var $modalSuccess = $('#my-modal-loading');

        $info.click();
        $info.addClass("active");
        $elementInfo.addClass("active");
        //返回上一页
        $("#back").on('click',function () {
            window.history.back();
        })

        function errorReload() {
            $modalWarning.modal();
            setTimeout(function () {
                $modalWarning.modal('close');
                window.location.href="/element/"+$id;
            },500);
        }
        //更新or添加供应商
        $("#update").on('click',function () {
            var url,method;
            //isUpdate为0，为添加供应商
            if($isUpdate==0){
                url = '/element/';
                method = 'POST';
            }else{
                url = '/element/'+$id;
                method = 'PUT';
            }
            console.log(url+'---'+method);
            var $name = $("#element-name").val();
            var $inPrice = $("#element-inPrice").val();
            var $outPrice = $("#element-outPrice").val();
            var $category = $("#element-category").val();
            var $brand = $("#element-brand").val();
            var $createTime = $("#element-createTime").val();
            var $description = $("#element-description").val();
            if($name==''||$name==null||$inPrice==''||$inPrice==null||$outPrice==''||$outPrice==null||$category==''||$category==null||$brand==''||$brand==null||$createTime==''||$createTime==null||$description==''||$description==null){
                errorReload();
                return
            }
            console.log($description);
            $.ajax({
                url: url,
                type: method,
                data: {
                    name: $name,
                    inPrice: $inPrice,
                    outPrice: $outPrice,
                    category: $category,
                    brand: $brand,
                    createTime: new Date($createTime),
                    description: $description
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if(data.result=="success"){
                        $modalSuccess.modal();
                        setTimeout(function () {
                            $modalSuccess.modal('close');
                            window.location.href="/element/"
                        },1000);
                    }else if(data.result=="error" || data.result=="exception"){
                        $modalError.modal();
                        setTimeout(function () {
                            $modalError.modal('close');
                            window.history.back();
                        },1000);
                    }
                }
            })

        })
    })
</script>
</body>

</html>