<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>采购清单详情</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x722x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body data-type="index">
<div th:replace="header :: header"></div>
<div class="tpl-page-container tpl-page-header-fixed">
    <div th:replace="sidebar :: sidebar"></div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            采购清单详情
        </div>
        <ol class="am-breadcrumb">
            <li><a href="/index/" class="am-icon-home">首页</a></li>
            <li><a href="/inorder/">采购清单</a></li>
            <li class="am-active">采购清单详情</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="am-panel am-panel-secondary">
                <div class="am-panel-hd ">
                    <h3 class="am-panel-title" th:text="'订单编号：'+${inOrder.orderNo}"></h3>
                </div>
                <div class="am-panel-bd">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-title">供应商</th>
                            <th>零配件</th>
                            <th>数量</th>
                            <th>折扣</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="inOrderDetail,iterStat : ${inOrderDetails}">
                            <td th:text="${inOrderDetail.supply.name}"></td>
                            <td th:text="${inOrderDetail.element.name}"></td>
                            <td th:text="${inOrderDetail.amount}+' 件'"></td>
                            <td th:text="${inOrderDetail.discount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>
<script th:src="@{/js/iscroll.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script type="text/javascript">
    $(function () {
        var $inout = $("#inout");
        var $inoutIn = $("#inout-in");
        $inout.click();
        $inout.addClass("active");
        $inoutIn.addClass("active");
    })
</script>
</body>

</html>