<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>登陆</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x722x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>

<body data-type="login">
<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                4S店管理<span>&nbsp;<i class="am-icon-skyatlas"></i>Login</span>
            </div>
        </div>

        <div class="login-font">
            <i>4S店供销存管理系统</i>
        </div>
        <div th:if="${param.logout}" class="am-alert am-alert-success" data-am-alert="">
            <button type="button" class="am-close">&times;</button>
            <p>已注销！</p>
        </div>
        <div th:if="${param.error}" class="am-alert am-alert-warning" data-am-alert="">
            <button type="button" class="am-close">&times;</button>
            <p>用户名或密码错误，请重试！</p>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" action="/login" th:action="@{/login}" method="post">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="" id="doc-ipt-user-1" name="username" placeholder="用户名"/>
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" id="doc-ipt-pwd-1" name="password" placeholder="登陆密码"/>
                    </div>
                    <p>
                        <button type="submit" class="am-btn am-btn-default" id="do-login">登录</button>
                    </p>
                </fieldset>
            </form>
            <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">系统提示</div>
                    <div class="am-modal-bd">
                        对不起，您的密码错误！
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>
            <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">登陆成功</div>
                    <div class="am-modal-bd">
                        <span class="am-icon-spinner am-icon-spin"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>
<script type="text/javascript">
    $(function() {
        var $modalError = $('#my-alert');
        var $modalSuccess = $('#my-modal-loading');

        //登陆验证
//        $("#do-login").click(function () {
//            var username = $("#doc-ipt-user-1").val();
//            var password = $("#doc-ipt-pwd-1").val();
//            console.log(username + " " + password)
//            $.ajax({
//                url: '/login/doLogin',
//                type: 'POST',
//                data: {
//                    username: username,
//                    password: password
//                },
//                dataType: 'json',
//                success: function (data) {
//                    console.log(data)
//                    if(data.result=="success"){
//                        $modalSuccess.modal();
//                        setTimeout(function () {
//                            $modalSuccess.modal('close');
//                            window.location.href="/index"
//                        },2000);
//                    }else if(data.result=="error"){
//                        $modalError.modal();
//                    }
//                }
//            })
//        });
    });

</script>
</body>
</html>